@font-face {
  font-family: font-light;
  src: url(FontsFree-Net-SFProDisplay-Light.ttf);
}
@font-face {
  font-family: font-medium;
  src: url(SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
  font-family: font-regular;
  src: url(SFPRODISPLAYREGULAR.OTF);
}

.headingUser, .headingAttacker{
  color:  rgba(255, 255, 255, 0.70);
}


/* Background glow */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    background:
        radial-gradient(
            ellipse at 15% 75%,
            rgba(0, 174, 255, 0.55),
            transparent 42%
        ),

        radial-gradient(
            ellipse at 45% 35%,
            rgba(0, 90, 255, 0.55),
            transparent 48%
        ),

        radial-gradient(
            ellipse at 82% 15%,
            rgba(115, 55, 220, 0.60),
            transparent 45%
        ),

        radial-gradient(
            ellipse at 85% 80%,
            rgba(80, 40, 180, 0.35),
            transparent 45%
        );

    filter: blur(35px);
    transform: scale(1.08);
}
.userScreenPhone,
.attackerScreenPhone {
filter: drop-shadow(0 8px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0 0 8px rgba(255, 255, 255, 0.25)) drop-shadow(0 0 12px rgba(255, 255, 255, 0.12));
    border-radius: 33px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sub-container{
  width: 80%;
    height: 88%;
  border-radius: 33px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}


/*Navbar*/
.logo{
      padding-left: 10px;
}

#navbar {
    width: 100%;
    padding-top: 38px;
    position: relative;
    z-index: 100;
    font-family: font-regular;
}


.navbar_container {
    width: calc(100% - 15vw);
    max-width: 1175px;
    height: 54px;

    margin: 17px auto;
    font-family: font-light;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    padding: 0 14px;

    border-radius: 18px;

    /* Glass */
    background: rgba(255, 255, 255, 0.13);

    border: 1px solid rgba(255, 255, 255, 0.25);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    /* Glass highlights + depth */
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.20),
        0 8px 30px rgba(0, 0, 0, 0.15);
}
.nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_list {
    list-style: none;

    display: flex;
    align-items: center;

    gap: 34px;

    margin: 0;
    padding: 0;
}

.nav a {
    position: relative;

    text-decoration: none;

    color: rgba(255, 255, 255, 0.82);

    font-size: 15px;
    font-weight: 400;
    
    transition: color 0.25s ease;
}

.nav a:hover {
  color: white;
}
.nav_list >li:hover{
    transform: translateY(-1px);
    
}
.nav_list >li{
    transition: all 0.3s ease;
    }

/* Active link indicator
.nav a::after {
  content: "";
  
  position: absolute;
  bottom: -6px;
  left: 0;
  
  width: 100%;
  height: 2px;

    background-color: white;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease;
} */
.name{
  color: white;
}
/*Hero Section*/
#home{
    width: 100%;
    min-height:  70vh;

    display: grid;
    grid-template-columns: 1fr 270px;
    align-items: start;

    padding: 0 7%;
    position: relative;

}
.hero-heading{
  font-family: font-medium;
  font-size: 4.5rem;
  color: white;
      mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
.heroheading{
  display: flex;
  justify-content: center;
      width: 80%;
}
#startSimulation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    min-width: 250px;

    padding: 13px 30px;

    border-radius: 30px;

    background: rgba(255, 255, 255, 0.18);

    border: 1px solid rgba(255, 255, 255, 0.30);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.25),
        0 8px 25px rgba(0, 0, 0, 0.12);

    color: white;

    font-family: font-medium;

    font-size: 1rem;

    cursor: pointer;

    transition: 0.25s ease;
}
.SimButton{
    margin-top: 22px;

    display: flex;
    justify-content: flex-start;
}
#startSimulation:hover {
    background: rgba(255, 255, 255, 0.27);

    transform: translateY(-2px);
}

#startSimulation:hover {
  transform: translateY(-4px);
  z-index: 0;
    background: rgba(255, 255, 255, 0.14);
    border-color: rgba(255, 255, 255, 0.65);
    transform: translateY(-3px);
}
.hero-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 8vh;
}
.hero-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 8vh;
}
/* INFO SECTION */

.info {
    width: 270px;

    display: flex;
    flex-wrap: wrap;

    justify-content: flex-end;
    align-items: flex-start;

    column-gap: 16px;
    row-gap: 12px;

    padding-top: 11vh;
        margin-top: 3rem;
}


/* STATISTIC CARDS */

.info1,
.info2 {
    width: 125px;
    height: 82px;

    flex: 0 0 125px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    border-radius: 15px;

    background: rgba(255, 255, 255, 0.15);

    border: 1px solid rgba(255, 255, 255, 0.28);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.30),
        0 0 15px rgba(255, 255, 255, 0.08),
        0 8px 25px rgba(0, 0, 0, 0.12);
}


/* NUMBER */

.info h2 {
    margin: 0;

    font-family: font-medium;
    font-size: 2rem;
    line-height: 1;

    color: rgba(255, 255, 255, 0.95);

    text-shadow:
        0 2px 8px rgba(0, 0, 0, 0.15);
}


/* CARD DESCRIPTION */

.info h4 {
    margin: 6px 0 0;

    max-width: 105px;

    font-family: font-regular;
    font-size: 0.72rem;
    font-weight: 400;

    line-height: 1.15;

    color: rgba(255, 255, 255, 0.75);
}


/* POINTS */

.points {
    flex: 0 0 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}


.points ul {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;

    gap: 5px;
}


.points li {
    font-family: font-regular;

    font-size: 0.85rem;
    font-weight: 400;

    line-height: 1.35;

    color: rgba(255, 255, 255, 0.70);
}


.points li::before {
    content: "•";

    margin-right: 7px;

    color: rgba(255, 255, 255, 0.70);
}
.step-label{
  color: rgba(255, 255, 255, 0.70);
  font-family: font-light;
  letter-spacing: 2px;
}
 .step-label-attacker{
  color:  rgba(255, 255, 255, 0.70);
  font-family: font-light;
  letter-spacing: 2px;
}

.SimulationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.app {
  border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 33px;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.simulation-heading{
  font-family: font-medium;
  font-size: 4vw;
  color: white;
  margin-top: 3rem;
}


